# Reasonable defaults (ESP32-S3 Touch LCD 1.85)

# Flash
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

# Partitions
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# OTA
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_APP_ROLLBACK_ENABLE=y
CONFIG_ESP_HTTPS_OTA=y
CONFIG_ESP_HTTPS_OTA_DECRYPT_CB=y
CONFIG_ESP_TLS_USING_MBEDTLS=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_ESP_TLS_USE_SECURE_ELEMENT=n

# Wi-Fi
CONFIG_ESP_WIFI_ENABLED=y

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
